In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_json('/home/cneiderer/Downloads/JEOPARDY_QUESTIONS1.json')

In [3]:
df.head()

,air_date,answer,category,question,round,show_number,value
0,2004-12-31,Copernicus,HISTORY,"'For the last 8 years of his life, Galileo was...",Jeopardy!,4680,$200
1,2004-12-31,Jim Thorpe,ESPN's TOP 10 ALL-TIME ATHLETES,'No. 2: 1912 Olympian; football star at Carlis...,Jeopardy!,4680,$200
2,2004-12-31,Arizona,EVERYBODY TALKS ABOUT IT...,'The city of Yuma in this state has a record a...,Jeopardy!,4680,$200
3,2004-12-31,McDonald\'s,THE COMPANY LINE,"'In 1963, live on ""The Art Linkletter Show"", t...",Jeopardy!,4680,$200
4,2004-12-31,John Adams,EPITAPHS & TRIBUTES,"'Signer of the Dec. of Indep., framer of the C...",Jeopardy!,4680,$200

In [6]:
df.iloc[0, :].question

"'For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory'"

In [7]:
len(df.category.unique())

27995

In [9]:
df_b = pd.read_csv('/home/cneiderer/Downloads/yelp-dataset/yelp_business.csv')

In [10]:
df_b.head()

,business_id,name,neighborhood,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,categories
0,FYWN1wneV18bWNgQjJ2GNg,"""Dental by Design""",NaN,"""4855 E Warner Rd, Ste B9""",Ahwatukee,AZ,85044,33.330690,-111.978599,4.0,22,1,Dentists;General Dentistry;Health & Medical;Or...
1,He-G7vWjzVUysIKrfNbPUQ,"""Stephen Szabo Salon""",NaN,"""3101 Washington Rd""",McMurray,PA,15317,40.291685,-80.104900,3.0,11,1,Hair Stylists;Hair Salons;Men's Hair Salons;Bl...
2,KQPW8lFf1y5BT2MxiSZ3QA,"""Western Motor Vehicle""",NaN,"""6025 N 27th Ave, Ste 1""",Phoenix,AZ,85017,33.524903,-112.115310,1.5,18,1,Departments of Motor Vehicles;Public Services ...
3,8DShNS-LuFqpEWIp0HxijA,"""Sports Authority""",NaN,"""5000 Arizona Mills Cr, Ste 435""",Tempe,AZ,85282,33.383147,-111.964725,3.0,9,0,Sporting Goods;Shopping
4,PfOCPjBrlQAnz__NXj9h_w,"""Brick House Tavern + Tap""",NaN,"""581 Howe Ave""",Cuyahoga Falls,OH,44221,41.119535,-81.475690,3.5,116,1,American (New);Nightlife;Bars;Sandwiches;Ameri...

In [17]:
cat = df_b.categories

In [202]:
bidx = []
cat_list = []
comp = []
for idx, kw in enumerate(cat):
    kw = [x.lower() for x in kw.split(';')]
    cat_list += kw
#     result = set(['wineries', 'cideries', 'breweries', 'distilleries']).intersection(kw)
    result = set(['doctors']).intersection(kw)
#     result = set(['distilleries']).intersection(kw)
    if len(result) > 0:
        bidx.append(idx)
        comp.append(result)
        
print(len(bidx))

4838

In [203]:
df_bb = df_b.iloc[bidx, :]
df_bb.review_count.sum()

61232

In [188]:
pd.pivot_table(df_bb, ='city', aggfunc='count')

city,Ahwatukee,Ajax,Anthem,Aurora,Avon,Avon Lake,Avondale,Balerno,Beachwood,Bellevue,...,Westlake,Westmount,Weston,Wexford,Whitby,Whitchurch-Stouffville,Willoughby,Willowick,Woodbridge,Youngtown
address,1,4,4,3,3,1,12,1,4,1,...,3,1,1,1,1,1,3,1,1,1
business_id,1,4,4,3,3,1,12,1,4,1,...,3,1,1,1,1,1,3,1,1,1
categories,1,4,4,3,3,1,12,1,4,1,...,3,1,1,1,1,1,3,1,1,1
is_open,1,4,4,3,3,1,12,1,4,1,...,3,1,1,1,1,1,3,1,1,1
latitude,1,4,4,3,3,1,12,1,4,1,...,3,1,1,1,1,1,3,1,1,1
longitude,1,4,4,3,3,1,12,1,4,1,...,3,1,1,1,1,1,3,1,1,1
name,1,4,4,3,3,1,12,1,4,1,...,3,1,1,1,1,1,3,1,1,1
neighborhood,0,0,0,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
postal_code,1,4,4,3,3,1,12,1,4,1,...,3,1,1,1,1,1,3,1,1,1
review_count,1,4,4,3,3,1,12,1,4,1,...,3,1,1,1,1,1,3,1,1,1
stars,1,4,4,3,3,1,12,1,4,1,...,3,1,1,1,1,1,3,1,1,1
state,1,4,4,3,3,1,12,1,4,1,...,3,1,1,1,1,1,3,1,1,1

In [196]:
cnts = df_bb['city'].value_counts()
cnts

Las Vegas                 235
Phoenix                   214
Toronto                   155
Charlotte                  97
Scottsdale                 91
Pittsburgh                 75
Mesa                       65
Glendale                   55
Tempe                      52
Chandler                   49
Henderson                  38
Madison                    33
Montréal                   30
Cleveland                  26
Gilbert                    26
Champaign                  22
Peoria                     22
North Las Vegas            21
Mississauga                21
Edinburgh                  15
Surprise                   15
North York                 13
Avondale                   12
Goodyear                   11
Markham                    10
Stuttgart                   9
Scarborough                 8
Matthews                    8
Huntersville                8
Lakewood                    7
                         ...
Laval                       1
Mint Hill                   1
Castle Shannon              1
Whitchurch-Stouffville      1
Olmsted Falls               1
Guadalupe                   1
Coraopolis                  1
Gibsonia                    1
McMurray                    1
Lorain                      1
Carnegie                    1
Mount Holly                 1
North Ridgeville            1
Whitby                      1
Weston                      1
Stow                        1
Mount Lebanon               1
Belmont                     1
University Ht               1
Verona                      1
Saint Joseph                1
Munroe Falls                1
Brooklyn                    1
Summerlin                   1
Canonsburg                  1
Mentor On the               1
Longueuil                   1
Woodbridge                  1
Avon Lake                   1
Twinsburg                   1
Name: city, Length: 166, dtype: int64

In [197]:
cnts[cnts == cnts.max()]

Las Vegas    235
Name: city, dtype: int64

In [199]:
df_bb[df_bb.city == 'Las Vegas'].head()

,business_id,name,neighborhood,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,categories
869,_1CdOPPGWdwT3YsVuEUNNA,"""The Art of Shaving""",The Strip,"""3663 Las Vegas Blvd. South, Suite 51""",Las Vegas,NV,89109,36.110732,-115.172236,3.5,3,1,Cosmetics & Beauty Supply;Shopping;Barbers;Bea...
1767,lzF-nrG9kblOm5eweaBJGg,"""The Art of Shaving""",The Strip,"""3200 Las Vegas Blvd, Ste 1790""",Las Vegas,NV,89109,36.127546,-115.172192,4.5,10,1,Barbers;Shopping;Cosmetics & Beauty Supply;Bea...
2596,lrMuq4geWVWDkYIxOdTE2A,"""FairKutz""",Westside,"""270 S Decatur Blvd""",Las Vegas,NV,89107,36.171366,-115.208451,5.0,30,1,Hair Salons;Beauty & Spas;Barbers
2631,y8FfZr8vU0Xapfm-LFuMzg,"""Murray's Salon & Barbershop""",Westside,"""4300 Meadows Ln, Ste 2050""",Las Vegas,NV,89107,36.172532,-115.197258,3.5,18,1,Hair Extensions;Barbers;Hair Salons;Beauty & Spas
2755,qxTtvf73qDcPaFckkGJwVw,"""The Tower Club""",Westside,"""430 S Rampart, Ste 150""",Las Vegas,NV,89145,36.166769,-115.286720,5.0,52,1,Skin Care;Beauty & Spas;Hair Salons;Hair Remov...

In [200]:
joined = df_bb.merge(df_rev, how='left', on='business_id')

In [201]:
joined.shape

(27959, 21)

In [64]:
df_b.city.value_counts()

Las Vegas                    26775
Phoenix                      17213
Toronto                      17206
Charlotte                     8553
Scottsdale                    8228
Pittsburgh                    6355
Mesa                          5760
Montréal                      5709
Henderson                     4465
Tempe                         4263
Chandler                      3994
Edinburgh                     3868
Cleveland                     3322
Madison                       3213
Glendale                      3206
Gilbert                       3128
Mississauga                   2726
Stuttgart                     2000
Peoria                        1706
Markham                       1564
North Las Vegas               1393
Champaign                     1195
Scarborough                   1095
North York                    1092
Surprise                      1018
Richmond Hill                  888
Concord                        864
Brampton                       839
Goodyear                       772
Vaughan                        768
                             ...
Sainte-thérèse                   1
Camargo                          1
Thomasboro                       1
Murrysville (Monroeville)        1
Dewey                            1
St Bernard de Lacolle            1
Sainte-Marie                     1
Huntingdon                       1
Canonsburd                       1
Lake Park                        1
Woodbridge (Vaughan)             1
Lavaltrie                        1
Richland Township                1
Allegheny                        1
Mathews                          1
Edimbourg                        1
Île-des-Soeurs                   1
Lakewood Oh                      1
Brunswick Hills                  1
Pilton                           1
Thornhil                         1
Glendale Az                      1
Fountain Hls                     1
Ste-Rose                         1
Montréal-Nord                    1
Cramond                          1
Auburn Twp                       1
London                           1
Phoenix Valley                   1
L'assomption                     1
Name: city, Length: 1093, dtype: int64

In [11]:
df_ba = pd.read_csv('/home/cneiderer/Downloads/yelp-dataset/yelp_business_attributes.csv')

In [12]:
df_ba.head()

,business_id,AcceptsInsurance,ByAppointmentOnly,BusinessAcceptsCreditCards,BusinessParking_garage,BusinessParking_street,BusinessParking_validated,BusinessParking_lot,BusinessParking_valet,HairSpecializesIn_coloring,...,Corkage,DietaryRestrictions_dairy-free,DietaryRestrictions_gluten-free,DietaryRestrictions_vegan,DietaryRestrictions_kosher,DietaryRestrictions_halal,DietaryRestrictions_soy-free,DietaryRestrictions_vegetarian,AgesAllowed,RestaurantsCounterService
0,FYWN1wneV18bWNgQjJ2GNg,Na,Na,Na,True,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
1,He-G7vWjzVUysIKrfNbPUQ,Na,Na,Na,Na,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
2,8DShNS-LuFqpEWIp0HxijA,Na,Na,Na,Na,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
3,PfOCPjBrlQAnz__NXj9h_w,Na,Na,Na,Na,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
4,o9eMRCWt5PkpLDE0gOPtcQ,Na,Na,Na,Na,False,False,False,False,False,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na

In [13]:
df_bh = pd.read_csv('/home/cneiderer/Downloads/yelp-dataset/yelp_business_hours.csv')

In [14]:
df_bh.head()

,business_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday
0,FYWN1wneV18bWNgQjJ2GNg,7:30-17:0,7:30-17:0,7:30-17:0,7:30-17:0,7:30-17:0,None,None
1,He-G7vWjzVUysIKrfNbPUQ,9:0-20:0,9:0-20:0,9:0-20:0,9:0-20:0,9:0-16:0,8:0-16:0,None
2,KQPW8lFf1y5BT2MxiSZ3QA,None,None,None,None,None,None,None
3,8DShNS-LuFqpEWIp0HxijA,10:0-21:0,10:0-21:0,10:0-21:0,10:0-21:0,10:0-21:0,10:0-21:0,11:0-19:0
4,PfOCPjBrlQAnz__NXj9h_w,11:0-1:0,11:0-1:0,11:0-1:0,11:0-1:0,11:0-1:0,11:0-2:0,11:0-0:0

In [15]:
df_ci = pd.read_csv('/home/cneiderer/Downloads/yelp-dataset/yelp_checkin.csv')
df_ci.head()

              business_id weekday   hour  checkins
0  3Mc-LxcqeguOXOVT_2ZtCg     Tue   0:00        12
1  SVFx6_epO22bZTZnKwlX7g     Wed   0:00         4
2  vW9aLivd4-IorAfStzsHww     Tue  14:00         1
3  tEzxhauTQddACyqdJ0OPEQ     Fri  19:00         1
4  CEyZU32P-vtMhgqRCaXzMA     Tue  17:00         1

In [16]:
df_rev = pd.read_csv('/home/cneiderer/Downloads/yelp-dataset/yelp_review.csv')
df_rev.head()

,review_id,user_id,business_id,stars,date,text,useful,funny,cool
0,vkVSCC7xljjrAI4UGfnKEQ,bv2nCi5Qv5vroFiqKGopiw,AEx2SYEUJmTxVVB18LlCwA,5,2016-05-28,Super simple place but amazing nonetheless. It...,0,0,0
1,n6QzIUObkYshz4dz2QRJTw,bv2nCi5Qv5vroFiqKGopiw,VR6GpWIda3SfvPC-lg9H3w,5,2016-05-28,Small unassuming place that changes their menu...,0,0,0
2,MV3CcKScW05u5LVfF6ok0g,bv2nCi5Qv5vroFiqKGopiw,CKC0-MOWMqoeWf6s-szl8g,5,2016-05-28,Lester's is located in a beautiful neighborhoo...,0,0,0
3,IXvOzsEMYtiJI0CARmj77Q,bv2nCi5Qv5vroFiqKGopiw,ACFtxLv8pGrrxMm6EgjreA,4,2016-05-28,Love coming here. Yes the place always needs t...,0,0,0
4,L_9BTb55X0GDtThi6GlZ6w,bv2nCi5Qv5vroFiqKGopiw,s2I_Ni76bjJNK9yG60iD-Q,4,2016-05-28,Had their chocolate almond croissant and it wa...,0,0,0

In [65]:
df_rev.shape

(5261668, 9)

In [67]:
pres_df = pd.read_json('/home/cneiderer/Downloads/presidency.json')

In [69]:
pres_df

,Abraham Lincoln,Andrew Jackson,Andrew Johnson,Barack Obama,Benjamin Harrison,Calvin Coolidge,Chester A. Arthur,Dwight D. Eisenhower,Franklin D. Roosevelt,Franklin Pierce,...,Theodore Roosevelt,Thomas Jefferson,Ulysses S. Grant,Warren G. Harding,William Henry Harrison,William Howard Taft,William J. Clinton,William McKinley,Woodrow Wilson,Zachary Taylor
Debates,[],[],[],"[{'category': 'General Election', 'subcategory...",[],[],[],[],[],[],...,[],[],[],[],[],[],"[{'category': 'General Election', 'subcategory...",[],[],[]
E.O.P.,[],[],[],[],[],[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],[]
OMB,[],[],[],[],[],[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],[]
Oral,"[{'category': 'Address', 'subcategory': 'Inaug...","[{'category': 'Address', 'subcategory': 'Inaug...","[{'category': 'Address', 'subcategory': '""Inau...","[{'category': 'Address', 'subcategory': 'Inaug...","[{'category': 'Address', 'subcategory': 'Inaug...","[{'category': 'Address', 'subcategory': 'Inaug...","[{'category': 'Address', 'subcategory': '""Inau...","[{'category': 'Address', 'subcategory': 'Inaug...","[{'category': 'Address', 'subcategory': 'Inaug...","[{'category': 'Address', 'subcategory': 'Inaug...",...,"[{'category': 'Address', 'subcategory': 'Inaug...","[{'category': 'Address', 'subcategory': 'Inaug...","[{'category': 'Address', 'subcategory': 'Inaug...","[{'category': 'Address', 'subcategory': 'Inaug...","[{'category': 'Address', 'subcategory': 'Inaug...","[{'category': 'Address', 'subcategory': 'Inaug...","[{'category': 'Address', 'subcategory': 'Inaug...","[{'category': 'Address', 'subcategory': 'Inaug...","[{'category': 'Address', 'subcategory': 'Inaug...","[{'category': 'Address', 'subcategory': 'Inaug..."
Party Platforms,[],[],[],[],[],[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],[]
Written,"[{'category': 'Messages', 'subcategory': '(non...","[{'category': 'Messages', 'subcategory': '(non...","[{'category': 'Messages', 'subcategory': 'to C...","[{'category': 'Messages', 'subcategory': '(non...","[{'category': 'Messages', 'subcategory': 'to C...","[{'category': 'Messages', 'subcategory': 'Annu...","[{'category': 'Messages', 'subcategory': 'to C...","[{'category': 'Messages', 'subcategory': '(non...","[{'category': 'Messages', 'subcategory': '(non...","[{'category': 'Messages', 'subcategory': 'to C...",...,"[{'category': 'Messages', 'subcategory': 'to C...","[{'category': 'Messages', 'subcategory': '(non...","[{'category': 'Messages', 'subcategory': 'to C...","[{'category': 'Executive Orders', 'subcategory...","[{'category': 'Messages', 'subcategory': 'to C...","[{'category': 'Messages', 'subcategory': 'to C...","[{'category': 'Messages', 'subcategory': '(non...","[{'category': 'Messages', 'subcategory': 'to C...","[{'category': 'Messages', 'subcategory': '(non...","[{'category': 'Messages', 'subcategory': 'to C..."

In [75]:
import pymongo

In [83]:
client = pymongo.MongoClient()

In [88]:
client.database_names()

['admin', 'config', 'legislation', 'local']

In [89]:
db = client.get_database('president')

In [92]:
client.database_names()

['admin', 'config', 'legislation', 'local']

In [93]:
db.create_collection('data')

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'president'), 'data')

In [94]:
client.database_names()

['admin', 'config', 'legislation', 'local', 'president']

In [95]:
collection = db.get_collection('data')

In [96]:
import json

In [98]:
json_filename = '/home/cneiderer/Downloads/presidency.json'
with open(json_filename, 'r') as f:
    json_president = json.load(f)

In [104]:
collection.insert_one(pres_df['Abraham Lincoln']['Oral'][0])

In [114]:
collection.find_one()['_id']

ObjectId('5a9726dd4ff91e65a4248ed3')

In [166]:
for item in pres_df['George Washington']['Oral']:
    print(item['title'])

Inaugural Address
Inaugural Address
First Annual Message to Congress on the State of the Union
Second Annual Message
Third Annual Message
Fourth Annual Message
Fifth Annual Message
Sixth Annual Message
Seventh Annual Message
Eighth Annual Message

In [168]:
len(pres_df['George W. Bush']['Oral'])

2922

In [169]:
len(pres_df[''])

6

In [170]:
len(pres_df['George Bush'])

6